NETWORK=Preprod
BLOCKFROST_PREPROD_URL=https://cardano-preprod.blockfrost.io/api/v0
BLOCKFROST_PROJECT_ID=
CARDANO_NODE_SOCKET_PATH=/absolute/path/to/preprod/node.socket
ALEPH_BLUEPRINT_PATH=/absolute/path/to/aleph/plutus.json
FUNDED_WALLET_SEED=
AGENT_URL=http://127.0.0.1:9031
AGENT_HEALTH_URL=http://127.0.0.1:9024/health
DEPLOYMENT_PATH=../../resources/preprod.deployment.json
AGENT_CONFIG_PATH=../../resources/preprod.config.json
STATE_PATH=.state/preprod-green-order-e2e.json
OPERATOR_KEY_HASH_HEX=
ACCOUNT_HOT_PRIVATE_KEY_HEX=
POOL_INITIAL_LOVELACE=100000000
POOL_INITIAL_TOKEN_AMOUNT=100000000
ACCOUNT_INITIAL_LOVELACE=25000000
SMOKE_LEAVING_LOVELACE=1000000
SMOKE_EXPECTED_TOKEN_AMOUNT=1
SMOKE_FEE_LOVELACE=2000000
